CONFIG_ARM=y
CONFIG_POSITION_INDEPENDENT=y
CONFIG_SYS_ARM_CACHE_CP15=y
# CONFIG_SYS_ARM_MMU is not set
CONFIG_TARGET_VITA=y
CONFIG_TEXT_BASE=0x40300000
CONFIG_SPL_LIBGENERIC_SUPPORT=y
CONFIG_SPL=y
CONFIG_SYS_LOAD_ADDR=0x40300000
CONFIG_DEBUG_LL=y
CONFIG_DEBUG_LL_UART_VITA=y
CONFIG_DEBUG_UART_PHYS=0xE2030000
CONFIG_PHYS_64BIT=y
CONFIG_SYS_BOOTM_LEN=0x4000000
CONFIG_SPL_BSS_MAX_SIZE=0x4096
CONFIG_CMD_LZMADEC=y
CONFIG_CMD_UNLZ4=y
CONFIG_CMD_UNZIP=y
CONFIG_CMD_DM=y
CONFIG_OF_CONTROL=y
CONFIG_OF_OMIT_DTB=y
CONFIG_CPU=y
CONFIG_FIRMWARE=y
# CONFIG_SPECIFY_CONSOLE_INDEX is not set
CONFIG_SPI=y
CONFIG_PANIC_HANG=y
